@import 'mixins';
@import 'templates';
@import 'variables';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 3.75rem 0 3.75rem ;
}

.btn_cart {
    @include  btn-style (115px, 35px, 0.8rem);
}

@font-face {
    font-family: 'Intro';
    src: url(../fonts/intro.woff);
}

.main {
    display: flex;
    // width: 91.25vw;
    margin-left: 6.3rem;
}

.content {
    width: 37.639vw;
}

.content__title {
    color: #000;
    font-family: $intro ;
    font-size: 3.8rem;
    line-height: 120%; 
    margin-top: 3.8rem;
    margin-bottom: 0.5rem;
}

.content__text {
    color:  #000;
font-family: 'Roboto Slab';
font-size: 20px;
line-height: 160%; 
width: 33.8vw;
}

.btn_buy {
    margin-top: 1.5rem;
    @include  btn-style (270px, 84px, 2.5rem );
}

ul {
    display: flex;
    justify-content: space-between;
}

nav, ul, li {
    list-style-type: none;
}

nav {
    margin-top: 8.35rem;
}

a {
    text-decoration: none;
    color: $textColor;
}

.container {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52vw;
}

